<form class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Pesquisar" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="btn btn-outline-primary" (click)="searchText=''">LIMPAR</button>
    <button class="btn btn-outline-primary" (click)="customerService.populateForm(customer)">ADICIONAR</button>
    <button class="btn btn-outline-primary" (click)="customerService.logout(customer)">X</button>
  </form>
  <table class="table table-sm">
    <thead>
      <th>Orgão</th>
      <th>Objeto</th>
      <th>Quantidade</th>
      <th>Prazo</th>
      <th></th>
    </thead>
    <ng-container *ngFor="let customer of customerArray">
      <tr class="table-dark" *ngIf="filterCondition(customer)">
        <td>{{customer.orgao}}</td>
        <td>{{customer.objeto}}</td>
        <td>{{customer.quantidade}}</td>
        <td>{{customer.prazo}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="customerService.populateForm(customer)">Editar</button>
          <button class="btn btn-outline-danger" (click)="onDelete(customer.$key)">Deletar</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
    Deletado com sucesso.
  </div>